body {
    background: url("assets/startbild.png") no-repeat center center fixed;

    background-size: contain;
    -webkit-background-size: cover;
    /*: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;*/
}

#startbutton {
    text-align: center;
    width: 200px;
    top: 100%;
    margin-left: 45%;
    margin-top: 30%;

}

.btn {
    background-image: url("assets/platform.png");
    border-color: #184c10;
    color: white;

}

.btn:hover {
    text-decoration: none;
    background-image: url("assets/platform.png");
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
    background-image: url("assets/platform.png");
}

